<div class="home">
	<h1><i class="fa-lg culture-o"></i> Startup Culture</h1>
	<h4>Participe do evento de lançamento<br/> 31/03/2014 às 19h.</h4>
	<div class"container">
		<center>
			<%= link_to "Inscreva-se","https://eventioz.com.br/e/lancamento-do-startup-culture?source=orevfb&utm_source=facebook&utm_medium=socialmedia&utm_campaign=or_share_event&utm_content=control_panel",:target => "_blank", class: "btn btn-default btn-lg centred-buttom" %>
		</center>
		<br/>
		<center>
			<div class="fb-like" data-href="https://www.facebook.com/pages/Startup-Culture/683812408380078" data-width="20" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true" style="vertical-align:top;zoom:1;*display:inline"></div>
			


			<a class="twitter-follow-button"
			href="https://twitter.com/startupculture_"
			data-show-count="false" data-width="100px"
			data-lang="pt-BR" class="twitter">
			Seguir @startupculture
		</a>
	</center>
</div>
</div>



<script>window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);t._e=[];t.ready=function(f){t._e.push(f);};return t;}(document,"script","twitter-wjs"));
</script>



<script>
	(function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s); js.id = id;
		js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&appId=594348957315659&version=v2.0";
		fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));
</script>


<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-53693459-1', 'auto');
	ga('send', 'pageview');
</script>
